
	@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Roboto:300,400,500,700,900');
		
		
/*******EDITOR******************/
#con-editor{
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 50px;
}


/*CAJA DE TEXTO*/
#cajaTexto{
    background: #fff;
    width: 100%;
    height: 50vh;
    outline: none;
    
    border-radius: 5px 5px 0px 0px;
    padding: 10px;

    font-family: 'Roboto';
}
