

    * {
        padding: 0;
        margin: 0;
        font-family: century gothic;
        text-align: center;
        
    }
    body{
        background-color: #f7f7f7;
    }
    /*Quitar borde azul del input*/
    input:focus {
        outline: 0;
    }
    /*Logo*/
    .nav-logo {
        background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.5.1/mercadolibre/logo__large_plus.png);
        height: 34px;
        top: 11px;
        width: 134px;
        display: inline-block;
    }
    .nav-logo {
        background-repeat: no-repeat;
        overflow: hidden;
        text-indent: -999px;
        position: absolute;
        left: 180px;
        outline: 0;
    }
    /*Fin logo*/
    #header-index {
        background-color: #ffc107;
        font-size: 13px;
        height: 80px;
        /*font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;*/
        
    }
    .crear_usuario {
        padding: 70px 70px;
        background-color: #ffffff;
        margin: calc(20% + 100px);
        margin-top: 50px;
        padding-top: 28px;
        margin-bottom: 30px;
        opacity: 0.9;
        -moz-opacity: 0.8;
        filter: alpha(opacity=80);
        -khtml-opacity: 0.8;
    }
    .ingresar_usuario {
        padding: 70px 10px;
        background-color: #ffffff;
        margin: calc(24% + 100px);
        margin-top: 50px;
        padding-top: 28px;
        margin-bottom: 30px;
        opacity: 0.9;
        -moz-opacity: 0.8;
        filter: alpha(opacity=80);
        -khtml-opacity: 0.8;
    }
    .login_db {
        padding: 70px 70px;
        background-color: #ffffff;
        margin: calc(22% + 100px);
        margin-top: 40px;
        padding-top: 28px;
        margin-bottom: 30px;
        opacity: 0.9;
        -moz-opacity: 0.8;
        filter: alpha(opacity=80);
        -khtml-opacity: 0.8;
    }
    
    h1 {
        text-align: center;
        padding: 12px;
        color: rgb(27, 27, 27)
    }
    input{
      width: calc(100% - 20px);
      padding: 9px;
      margin: auto;
      margin-top: 12px;
      font-size: 16px
      
  }
    input[type="text"], input[type="tel"],input[type="password"] ,input[type="email"]  {
        display: inline-block;
        vertical-align: top;
        width: 256px;
        margin: 0 50px 15px 0;
        padding: 20px 0px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #435160;
        outline: none;
        color: #6D7781;
        font-size: 16px;
      }
      input:hover{
        border-bottom: 1.2px solid #474747;
      }
      
      
    .button {
        cursor: pointer;
        background-color: #3483fa;
        color: #fff;
        width: calc(35% - 20px);
        border: none;
        border-radius: 8px;
        box-shadow: 0 5px #999;
      }
     
      
      .button:hover {background-color: #105cf4}
      
      .button:active {
        background-color: rgb(32, 101, 204);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

    /*Ventana flotante*/

   
    
    .contenedor article p {
        margin-bottom: 20px;
    }
    
    .contenedor article .btn-abrir-popup {
        padding: 0 20px;
        margin-bottom: 20px;
        height: 40px;
        line-height: 40px;
        border: none;
        color: #fff;
        background: #5E7DE3;
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        cursor: pointer;
        transition: .3s ease all;
        cursor: pointer;
    }
    
    .contenedor article .btn-abrir-popup:hover {
        background: rgba(94,125,227, .9);
    }
    
    /* ------------------------- */
    /* POPUP */
    /* ------------------------- */
    
    .overlay {
        background: rgba(0,0,0,.3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        visibility: hidden;
    }
    
    .overlay.active {
        visibility: visible;
    }
    
    .popup {
        background: #F8F8F8;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
        padding: 20px;
        text-align: center;
        width: 600px;
        
        transition: .3s ease all;
        transform: scale(0.7);
        opacity: 0;
    }
    
    .popup .btn-cerrar-popup {
        font-size: 16px;
        line-height: 16px;
        display: block;
        text-align: right;
        transition: .3s ease all;
        color: #BBBBBB;
    }
    
    .popup .btn-cerrar-popup:hover {
        color: #000;
    }
    
    .popup h3 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 10px;
        opacity: 0;
    }
    
    .popup h4 {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 40px;
        opacity: 0;
    }
    
    .popup form .contenedor-inputs {
        opacity: 0;
    }
    
    .popup form .contenedor-inputs input {
        width: 100%;
        margin-bottom: 20px;
        height: 52px;
        font-size: 18px;
        line-height: 52px;
        text-align: center;
        border: 1px solid #BBBBBB;
    }
    
    .popup form .btn-submit {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border: none;
        color: #fff;
        background: #5E7DE3;
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        cursor: pointer;
        transition: .3s ease all;
    }
    
    .popup form .btn-submit:hover {
        background: rgba(94,125,227, .9);
    }
    
    /* ------------------------- */
    /* ANIMACIONES */
    /* ------------------------- */
    .popup.active {	transform: scale(1); opacity: 1; }
    .popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
    .popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
    .popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }
    
    @keyframes entradaTitulo {
        from {
            opacity: 0;
            transform: translateY(-25px);
        }
    
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @keyframes entradaSubtitulo {
        from {
            opacity: 0;
            transform: translateY(25px);
        }
    
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @keyframes entradaInputs {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    /* 
    Personalizar un boton
    .btn-crear{background-color:rgba(226, 226, 226, 0.486);color: rgb(236, 226, 226);}
    .btn-install:hover{color: rgba(82, 82, 82, 0.623);} 
    */

    /* iconos ingreso de sesion */
    ul{
        display: flex;
      }
      ul li{
        position: relative;
        display: block;
        color: #666;
        font-size: 30px;
        height: 60px;
        width: 60px;
        background: #171515;
        line-height: 60px;
        border-radius: 50%;
        margin: 0 15px;
        cursor: pointer;
        transition: .5s;
      }
      ul li:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        /* background: #d35400; */
        border-radius: 50%;
        transform: scale(.9);
        z-index: -1;
        transition: .6s;
      }
      ul li:nth-child(1):before{
        background: rgb(4, 4, 126);
      }
      ul li:nth-child(2):before{
        background: rgb(24, 167, 79);
      }
      ul li:nth-child(3):before{
        background: rgb(48, 225, 57);
      }
      
      
      ul li:hover:before{
        filter: blur(3px);
        transform: scale(1.2);
        /* box-shadow: 0 0 15px #d35400; */
      }
      ul li:nth-child(1):hover:before{
        box-shadow: 0 0 15px #4267B2;
      }
      ul li:nth-child(2):hover:before{
        box-shadow: 0 0 15px rgb(29, 86, 242);
      }
      ul li:nth-child(3):hover:before{
        box-shadow: 0 0 15px rgb(31, 167, 38);
      }
      
      
      ul li:nth-child(1):hover{
        color: #e6e9ee;
        box-shadow: 0 0 15px rgb(245, 245, 245);
        text-shadow: 0 0 15px rgb(246, 247, 248);
      }
      ul li:nth-child(2):hover{
        color: #26a4f2;
        box-shadow: 0 0 15px rgb(228, 242, 29);
        text-shadow: 0 0 15px #1DA1F2;
      }
      ul li:nth-child(3):hover{
        color: #e23670;
        box-shadow: 0 0 15px #E1306C;
        text-shadow: 0 0 15px #E1306C;
      }
      /*Alineando iconos de inicio de sesion*/
      .pos-face{
        left: 50%;
        display: inline-block;
      }
      .alert alert-danger{
        background-color: rgb(207, 225, 48);
      }
    