
    * {
      padding: 0;
      margin: 0;
      font-family: century gothic;
      text-align: center;
      
  }
  body{
      background-color: #f7f7f7;
  }
  /*Quitar borde azul del input*/
  input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


  

  /*Logo*/
  .nav-logo {
      background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.5.1/mercadolibre/logo__large_plus.png);
      height: 34px;
      top: 11px;
      width: 134px;
      display: inline-block;
  }
  .nav-logo {
      background-repeat: no-repeat;
      overflow: hidden;
      text-indent: -999px;
      position: absolute;
      left: 180px;
      outline: 0;
  }
  /*Fin logo*/
  #header-index {
      background-color: #ffc107;
      font-size: 13px;
      height: 80px;
      /*font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;*/
      
  }
  .crear_usuario {
    padding: 70px 10px;
    background-color: #ffffff;
    margin-top: 50px;
      padding-top: 28px;
      margin-bottom: 30px;
  }
  .ingresar_usuario {
    padding: 70px 10px;
    background-color: #ffffff;
    margin-top: 50px;
      padding-top: 28px;
      margin-bottom: 30px;
  }
  .login_db {
      padding: 70px 70px;
      background-color: #ffffff;
      margin: calc(22% + 100px);
      margin-top: 40px;
      padding-top: 28px;
      margin-bottom: 30px;
      opacity: 0.9;
      -moz-opacity: 0.8;
      filter: alpha(opacity=80);
      -khtml-opacity: 0.8;
  }
  .vender_producto {
    padding: 70px 10px;
    background-color: #ffffff;
    margin-top: 50px;
      padding-top: 28px;
      margin-bottom: 30px;
  }
  ul, li{
    list-style: none !important;
   }
  h1 {
      text-align: center;
      padding: 12px;
      color: rgb(27, 27, 27)
  }
  
  .form-input {
      display: inline-block;
      vertical-align: top;
      
      
      padding: 20px 0px;
      background: transparent;
      border: 2px;
      border-bottom: 1.2px solid #435160;
      outline: none;
      color: #6D7781;
      font-size: 16px;
    }
    .form-input-2 {
      display: inline-block;
      vertical-align: top;
      
      
      padding: 20px 0px;
      background: transparent;
      border: 2px;
      border-bottom: 1.2px solid #435160;
      
      color: #6D7781;
      font-size: 16px;
    }
    input:hover{
      border-bottom: 2px solid #0a0a0a;
    }
    input:focus{
      border-bottom: 1.8px solid #ff0000a8;
    }