* {
	padding: 0px;
	margin: 0px;
	
}
.dropdown-item{
    display: flexbox;  
}
/*Inicio Header*/
/*Logo*/
.nav-logo {
    background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.5.1/mercadolibre/logo__large_plus.png);
    height: 34px;
    top: 11px;
    width: 134px;
    display: inline-block;
}
.nav-logo {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    
    left: 10px;
    outline: 0;
}
/*Fin logo*/
/*Barra de busqueda*/


/*Fin Barra de busqueda*/
/* Asignamos al header principal el color de fondo, junto a sus correspndientes medidas y estilos */
    

     .collapse:hover
     {
        display: block;
     }
    .dropdown:hover>.dropdown-menu{
        display: inline-table;
    }
    /*Cuadro de busqueda*/
        .form-inline{
            
            max-width: 600px;
            padding: 8px 1px;
            position: relative;

            
        }
        /*Quitar borde azul del input*/
        input:focus, input.form-control:focus {

            outline:none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        /*Fin uitar borde azul del input*/
        .search-input-index{
            padding: 7px 60px 9px 15px;
            background-color: #fff;
            border: 0 rgba(0,0,0,.2);
            width: 480px;
            color: #333;
            font-size: 16px;
            
            margin: 0;
            font-family: inherit;
            
        }
    /*Fin cuadro de busqueda*/
    /* Menu desplegable */
        
        /*Color menu desplegable y ajuste de posición*/
        
        /*Color letra Menu desplegable*/
        .dropdown-menu a {
            
            color: rgb(255, 255, 255);
        }
        .dropdown-menu a:hover {background-color: #3483fa;}
        
        
        
    /*Fin menu desplegable*/

    
/*Fin Header*/
